{% extends "notifications/email/base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h2>Password Reset Request</h2>
<p>Hi {{ user.first_name }},</p>
<p>We received a request to reset your password. Don't worry, we're here to help! Click the button below to create a new
    password:</p>

<div style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p>This password reset link will expire in 1 hour for security reasons.</p>

<p>If you didn't request this password reset, you can safely ignore this email. Your account is secure.</p>

<p>If the button above doesn't work, you can copy and paste this link into your browser:</p>
<p style="word-break: break-all; color: #666;">{{ reset_url }}</p>
{% endblock %}